<!doctype html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Online GUID Generator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- load Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.41/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.41/js/mui.min.js"></script>

    <!-- load custom styles -->
    <link href="styles/helper.css" rel="stylesheet" type="text/css" />
    <link href="styles/ogg-style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="mui-container">
    <div class="mui-panel" id="ogg-app">
        <h1 class="mui--text-center">
            Online GUID Generator
        </h1>
        <form class="ogg-form">
            <div class="ogg-form-field">
                <label>Number Of GUIDs</label>
                <input
                    id="numberOfGUIDs"
                    v-model.number="numberOfGUIDs"
                    placeholder="1 to 1000"
                    type="number">
            </div>
            <div class="mui-checkbox">
                <label>
                    <input type="checkbox" v-model="guidGeneratorConfig.representAsArray" checked>
                    Array
                </label>
                <label>
                    <input type="checkbox" v-model="guidGeneratorConfig.includeHyphens" checked>
                    Hyphens
                </label>
                <label>
                    <input type="checkbox" v-model="guidGeneratorConfig.upperCase" checked>
                    Upper Case
                </label>
                <label v-if="!guidGeneratorConfig.representAsArray">
                    <input type="checkbox" v-model="guidGeneratorConfig.commaSeparated" checked>
                    Comma Separated
                </label>
            </div>
        </form>
        <button
            v-on:click="generateBtnClick"
            class="mui-btn mui-btn--primary mui-btn--raised align-center">
            Generate
        </button>
        <textarea
            v-model="textAreaResult"
            class="result-area">
        </textarea>
    </div>
</div>
<script src="scripts/index.js"></script>
</body>
</html>
