.result-area {
    height: 150px;
    display: block;
    margin: 15px auto;
}

.ogg-form {
    display: block;
    margin: 15px auto;
}

.ogg-form-field > input[type=number] {
    width: 100px;
}

.mui-checkbox > label:not(:first-child) {
    margin-left: 15px;
}

.ogg-custom-width {
    width: 400px;
}

#copy-to-clipboard {
    display: block;
    text-align: right;
}
